<h1>Bookings#index</h1>
<p>Find me in app/views/bookings/index.html.erb</p>

<div class="row">
  <% @bookings.each do |booking|  %>
  <div class="card mb-3 col-6">
    <div class="row g-0">
      <div class="col-md-4">
        <%= cl_image_tag(booking.spaceship.photo.key, width: 200, heigth: 100)%>
      </div>
      <div class="col-md-8 p-3">
        <div class="card-body">
          <h2 class="card-title"><%= booking.spaceship.name %></h2>
          <h6 class="card-text">From: <%=booking.start_date %></h6>
          <h6 class="card-text">To: <%=booking.end_date %></h6>
          <h6 class="card-text"><%= booking.status.capitalize %></h6>
          <button type="button" class="btn btn-success">Confirm</button>
          <button type="button" class="btn btn-danger">Cancel</button>
        </div>
      </div>
    </div>
  </div>


  <% end %>
</div>
