<h1 class="my-3">Ask for booking <%= @spaceship.name %></h1>

<%= simple_form_for([@spaceship, @booking]) do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.button :submit, "Ask for the reservation", class: "btn btn-primary" %>
<% end %>
  