<div class="accordion-body row flex-wrap justify-content-between">
  <% bookings.each do |booking|  %>
    <div class="card mb-2 col-5 <%= booking.status %> seller-card">
      <div class="mb-2">
        <div class="d-flex spaceship-card align-items-center my-3 favorites-card">
          <%= link_to spaceship_path(booking.spaceship) do %>
            <%= cl_image_tag booking.spaceship.main_image.key %>
          <% end %>
          <div class="d-flex flex-column px-4">
            <em><%= booking.spaceship.name %></em>
            <p><i class="fa-solid fa-circle-radiation"></i> <%= booking.spaceship.fuel %></p>
            <p><i class="fas fa-users"></i> <%= booking.spaceship.number_of_places %></p>
            <p><i class="fa-solid fa-euro-sign"></i> <%= booking.spaceship.price_per_day %>€/day</p>
          </div>
        </div>
        <% booking.associated_buttons_status.each do |button| %>
          <%= link_to button[:text], dashboards_path, data: {turbo_method: :patch}, class: button[:classes] %>
        <% end %>
      </div>
      
    </div>
  <% end %>
</div>
