<div class="accordion-body row flex-wrap justify-content-between">
  <% bookings.each do |booking|  %>
    <div class="card mb-2 col-5 <%= booking.status %> seller-card">
      <div class="mb-2">
        <div class="d-flex spaceship-card align-items-center my-3 favorites-card">
          <%= link_to spaceship_path(booking.spaceship) do %>
            <%= cl_image_tag booking.spaceship.main_image.key %>
          <% end %>
          <div class="d-flex flex-column px-4">
            <em><%= booking.spaceship.name %></em>
            <p><%= booking.start_date.strftime("%d/%m/%Y") %></p>
            <p><%= booking.end_date.strftime("%d/%m/%Y") %></p>
          </div>
        </div>
        <% booking.associated_buttons_status.each do |button| %>
          <%= link_to button[:text], booking_path(booking, status: button[:status]), data: {turbo_method: :patch}, class: button[:classes] %>
        <% end %>
      </div>
      
    </div>
  <% end %>
</div>
