<div class="card" style="width: 18rem;">
  <%= image_tag('vue-vaisseau-spatial-futuriste.jpg', class: "card-img-top") %>
  <div class="card-body">
    <h5 class="card-title"><%= spaceship.name %></h5>
    <p class="card-text"><%= spaceship.description %></p>
    <div class="d-flex justify-content-between">
      <h6><i class="fa-solid fa-radiation"></i> <%= spaceship.fuel %></h6>
      <h6><i class="fa-solid fa-user-group"></i> <%= spaceship.number_of_places %></h6>
      <h6><i class="fa-regular fa-gem"></i> <%= spaceship.price_per_day %>$ / day</h6>
    </div>
    <a href="#" class="btn btn-primary">Details</a>
  </div>
</div>
