<div class="d-flex justify-content-between align-items-center">
  <h1 class="my-3"><%= @spaceship.name %></h1>
  <% if current_user.favorites.exists?(spaceship: @spaceship) %>
    <%= form_with(url: spaceship_favorite_path(@spaceship), method: :delete) do |f| %>
      <%= f.button type: :submit, class: "btn btn-link" do %>
        <i class="fa-solid fa-heart favorite"></i>
      <% end %>
    <% end %>
  <% else %>
    <%= form_with(url: spaceship_favorites_path(@spaceship), method: :post) do |f| %>
      <%= f.button type: :submit, class: "btn btn-link" do %>
        <i class="fa-regular fa-heart favorite"></i>
      <% end %>
    <% end %>
  <% end %>
</div>
<div class="container-fluid">
  <div class="row mb-5 gap-5 images-container">
    <div class="col-7 h-100 p-0">
      <div class="spaceship-image-detail">
        <img class="rounded" src="<%= url_for(@spaceship.main_image) %>" alt="" height="400">
      </div>
    </div>
    <div class="col p-0">
      <div class="d-flex justify-content-between h-100 flex-row flex-wrap gap-2">
        <% @spaceship.secondary_images.each_with_index do |image, index| %>
          <% if index < 4 %>
            <%= cl_image_tag image.key, class: "rounded four-images col-5" %>
          <% end %>
        <% end %>
        </div>
    </div>
  </div>
  <div class="row justify-content-between align-items-center">
    <div class="col-4">
      <div class="row">
        <div class="col-4 text-center">
          <i class="fa-solid fa-circle-radiation"></i>
          <p><%= @spaceship.fuel %></p>
        </div>
        <div class="col-4 text-center">
          <i class="fa-solid fa-users"></i>
          <p class=""><%= @spaceship.number_of_places %></p>
        </div>
        <div class="col-4 text-center">
          <i class="fa-solid fa-dollar-sign"></i>
          <p class=""><%= @spaceship.price_per_day %>/day</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-8">
      <div class="col-12 d-flex align-items-center gap-3">
        <% if @spaceship.user.photo.attached? %>
        <%= cl_image_tag(@spaceship.user.photo.key, class: "rounded-circle", width: 75, height: 75, crop: :fill) %>
        <% else %>
        <img class="rounded-circle" src="https://images.unsplash.com/photo-1464802686167-b939a6910659?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Z2FsYXh5fGVufDB8fDB8fHww" alt="" width="75" height="75">
        <% end %>
        <div>
          <h2 class="m-0"><%= @spaceship.user.name %></h2>
          <p>Spaceship owner</p>
        </div>
      </div>
      <div class="container my-5">
        <div class="col-12">
          <h2>Description</h2>
          <p><%= @spaceship.description %></p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <% if !@spaceship.user == current_user %>
        <div class="booking-form">
          <h4>Book the spaceship</h4>
          <%= render "bookings/form", spaceship: @spaceship, booking: @booking %>
        </div>
      <% end %>
    </div>
  </div>
</div>
