<div class="col-6 d-flex booking-card align-items-center my-2">
  <%= link_to spaceship_path(booking.spaceship) do %>
    <%= cl_image_tag(booking.spaceship.main_image.key)%>
  <% end %>
  <div class="d-flex flex-column px-4">
    <em><%= booking.spaceship.name %></em>
    <p><%=booking.start_date %></p>
    <p><%=booking.end_date %></p>
    <p class="mt-1 <%= booking.status %> p-1 rounded">Status: <%= booking.status.capitalize %></p>
  </div>
</div>
