<div class="grid-container">
  <div class="sidebar py-2 d-flex flex-column justify-content-between ">
    <div class="nav d-flex flex-column justify-content-between h-100" id="nav-tab" role="tablist">
      <div>
        <button class="nav-link active" id="nav-rentals-tab" data-bs-toggle="tab" data-bs-target="#nav-rentals" type="button" role="tab" aria-controls="nav-rentals" aria-selected="true"><i class="fas fa-rocket me-2"></i> Bookings</button>
        <button class="nav-link" id="nav-favorites-tab" data-bs-toggle="tab" data-bs-target="#nav-favorites" type="button" role="tab" aria-controls="nav-favorites" aria-selected="true"><i class="fas fa-heart me-2"></i> Favorites</button>
        <button class="nav-link" id="nav-notifications-tab" data-bs-toggle="tab" data-bs-target="#nav-notifications" type="button" role="tab" aria-controls="nav-notifications" aria-selected="true"><i class="fas fa-bell me-2"></i> Notifications</button>
        <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
          <button class="nav-link"><i class="fas fa-sign-out-alt me-2"></i>Logout</button>
        <% end %>
      </div>
      <div>
        <hr>
        <button class="nav-link seller" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="true"><i class="fas fa-user me-2"></i>Seller Profile</button>
      </div>
    </div>
  </div>
  <div class="main-content tab-content" id="nav-tabContent">
    <div class="tab-pane fade active show" id="nav-rentals" role="tabpanel" aria-labelledby="nav-rentals">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>My current booking(s)</h2>
        <%= link_to "Explore spaceships", spaceships_path, class: "btn btn-primary" %>
      </div>
      <div class="row">
        <% if !current_user.bookings.empty? %>
          <% @bookings.each do |booking|  %>
            <%= render "booking_customer", booking: booking if booking.status == "pending" || booking.status == "booked"%>
          <% end %>
        </div>
        <h3 class="my-4">Previous rentals</h3>
        <div class="row">
          <% @bookings.each do |booking|  %>
            <%= render "previous_booking_customer", booking: booking if booking.status == "finished"%>
          <% end %>
        <% else %>
          <p>You don't have any bookings yet.</p>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-favorites" role="tabpanel" aria-labelledby="nav-favorites">
      <h2>Favorites</h2>
      <div class="row ">
        <% if !current_user.favorites.empty? %>
          <% current_user.favorites.each do |favorite| %>
            <div class="col-6 d-flex spaceship-card align-items-center my-3 favorites-card">
              <%= link_to spaceship_path(favorite.spaceship) do %>
                <%= cl_image_tag favorite.spaceship.main_image.key %>
              <% end %>
              <div class="d-flex flex-column px-4">
                <em><%= favorite.spaceship.name %></em>
                <p><i class="fa-solid fa-circle-radiation"></i> <%= favorite.spaceship.fuel %></p>
                <p><i class="fas fa-users"></i> <%= favorite.spaceship.number_of_places %></p>
                <p><i class="fa-solid fa-euro-sign"></i> <%= favorite.spaceship.price_per_day %>€/day</p>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>You don't have any favorites yet.</p>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-notifications" role="tabpanel" aria-labelledby="nav-notifications">
      <h2>Notifications</h2>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile">
      <h1>Seller Profile</h1>
      <div class="row my-4">
        <div class="accordion accordion-flush" id="accordionFlush">
          <div class="accordion-item rounded-3 border-0 shadow mb-2">
            <h3 class="accordion-header">
              <button class="rounded accordion-button border-bottom fw-semibold pending-bookings <%= !@pending_bookings.empty? ? '' : 'collapsed' %>" type="button" data-bs-toggle="collapse" data-bs-target="#pending-bookings" aria-expanded="false" aria-controls="pending-bookings">
                Pending bookings
              </button>
            </h3>
            <div id="pending-bookings" class="accordion-collapse collapse <%= !@pending_bookings.empty? ? 'show' : '' %>" data-bs-parent="#accordionFlush">
              <%= render "shared/accordion", bookings:@pending_bookings %>
            </div>
          </div>
        </div>
        <div class="accordion accordion-flush" id="accordionFlush">
          <div class="accordion-item rounded-3 border-0 shadow mb-2">
            <h3 class="accordion-header">
              <button class="rounded accordion-button border-bottom collapsed fw-semibold confirmed-bookings" type="button" data-bs-toggle="collapse" data-bs-target="#confirmed-bookings" aria-expanded="false" aria-controls="confirmed-bookings">
                Completed bookings
              </button>
            </h3>
            <div id="confirmed-bookings" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
              <%= render "shared/accordion", bookings:@confirmed_bookings %>
            </div>
          </div>
        </div>
        <div class="accordion accordion-flush" id="accordionFlush">
          <div class="accordion-item rounded-3 border-0 shadow mb-2">
            <h3 class="accordion-header">
              <button class="rounded accordion-button border-bottom collapsed fw-semibold cancelled-bookings" type="button" data-bs-toggle="collapse" data-bs-target="#cancelled-bookings" aria-expanded="false" aria-controls="cancelled-bookings">
                Cancelled bookings
              </button>
            </h3>
            <div id="cancelled-bookings" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
              <%= render "shared/accordion", bookings:@cancelled_bookings %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="d-flex justify-content-between align-items-center my-4">
            <h2>My spaceships</h2>
            <%= link_to "Add a spaceship", new_spaceship_path, class: "btn btn-primary" %>
          </div>
          <% @spaceships.each do |spaceship| %>
            <div class="col-6 d-flex spaceship-card align-items-center my-3 favorites-card">
                <%= link_to spaceship_path(spaceship) do %>
                  <%= cl_image_tag spaceship.main_image.key %>
                <% end %>
                <div class="d-flex flex-column px-4">
                  <em><%= spaceship.name %></em>
                  <p><i class="fa-solid fa-circle-radiation"></i> <%= spaceship.fuel %></p>
                  <p><i class="fas fa-users"></i> <%= spaceship.number_of_places %></p>
                  <p><i class="fa-solid fa-euro-sign"></i> <%= spaceship.price_per_day %>€/day</p>
                </div>
                <a href="#" class="btn btn-success mt-4">View</a>
                <a href="#" class="btn btn-info mt-4">Edit</a>
                <a href="#" class="btn btn-danger mt-4">Delete</a>
             </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
