<%# Title %>
<div class="d-flex justify-content-between align-items-center my-5">
  <h1 class="m-0">Dashboard</h1>
  <nav>
    <div class="nav" id="nav-tab" role="tablist">
      <button class="nav-link active text-black p-0 underline" id="nav-owner-tab" data-bs-toggle="tab" data-bs-target="#nav-owner" type="button" role="tab" aria-controls="nav-owner" aria-selected="true" >Owner</button>
      <button class="nav-link p-0" id="nav-customer-tab" data-bs-toggle="tab" data-bs-target="#nav-customer" type="button" role="tab" aria-controls="nav-customer" aria-selected="false" >Customer</button>
    </div>
  </nav>
</div>
<%# Tab content %>
<div class="tab-content mt-4" id="nav-tabContent">
  <div class="tab-pane fade active show" id="nav-owner" role="tabpanel" aria-labelledby="nav-owner">
    <h2 class="my-4">My bookings</h2>
    <div class="row">
      <div class="accordion accordion-flush" id="accordionFlush">
        <div class="accordion-item rounded-3 border-0 shadow mb-2">
          <h3 class="accordion-header">
            <button class="accordion-button border-bottom collapsed fw-semibold pending-bookings" type="button" data-bs-toggle="collapse" data-bs-target="#pending-bookings" aria-expanded="false" aria-controls="pending-bookings">
              Pending bookings
            </button>
          </h3>
          <div id="pending-bookings" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
            <%= render "shared/accordion", bookings:@pending_bookings %>
          </div>
        </div>
      </div>
      <div class="accordion accordion-flush" id="accordionFlush">
        <div class="accordion-item rounded-3 border-0 shadow mb-2">
          <h3 class="accordion-header">
            <button class="accordion-button border-bottom collapsed fw-semibold confirmed-bookings" type="button" data-bs-toggle="collapse" data-bs-target="#confirmed-bookings" aria-expanded="false" aria-controls="confirmed-bookings">
              Completed bookings
            </button>
          </h3>
          <div id="confirmed-bookings" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
            <%= render "shared/accordion", bookings:@confirmed_bookings %>
          </div>
        </div>
      </div>
      <div class="accordion accordion-flush" id="accordionFlush">
        <div class="accordion-item rounded-3 border-0 shadow mb-2">
          <h3 class="accordion-header">
            <button class="accordion-button border-bottom collapsed fw-semibold cancelled-bookings" type="button" data-bs-toggle="collapse" data-bs-target="#cancelled-bookings" aria-expanded="false" aria-controls="cancelled-bookings">
              Cancelled bookings
            </button>
          </h3>
          <div id="cancelled-bookings" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
            <%= render "shared/accordion", bookings:@cancelled_bookings %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="d-flex justify-content-between align-items-center my-4">
        <h2>My spaceships</h2>
        <%= link_to "Add a spaceship", new_spaceship_path, class: "btn btn-success" %>
      </div>
      <% @spaceships.each do |spaceship| %>
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="card mb-4 shadow-sm">
            <%= cl_image_tag spaceship.main_image.key, class: "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title text-success">
                <%= spaceship.name %>
              </h5>
              <div class="d-flex justify-content-between mt-3">
                <h6><i class="fa-solid fa-radiation"></i> <%= spaceship.fuel %></h6>
                <h6><i class="fa-solid fa-user-group"></i> <%= spaceship.number_of_places %></h6>
                <h6><i class="fa-regular fa-gem"></i> <%= spaceship.price_per_day %>$ / day</h6>
              </div>
              <a href="#" class="btn btn-primary mt-4">View</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="tab-pane fade" data-controller="bookings" id="nav-customer" role="tabpanel" aria-labelledby="nav-customer-tab">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2>My current bookings</h2>
      <%= link_to "Explore spaceships", spaceships_path, class: "btn btn-success" %>
    </div>
    <div class="row">
      <% @bookings.each do |booking|  %>
        <%= render "booking_customer", booking: booking %>
      <% end %>
    </div>
  </div>
</div>
